/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/



/** Global **/

body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

main {
	max-width: 1140px;
	margin: auto;
}

html {
	background-color: #fffef8;
}

#nav-bar {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 50px auto
}

#edition {
	display: none;
	justify-content: center;
	gap: 1rem;
	background-color: #000000;
	color: #FFFFFF;
	margin: auto;
	padding: 1.5rem;
	font-size: 16px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #B1663C;
}

#log-in {
	display: inline;
}

#log-out {
	display: none;
}

/** Introduction **/

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/** Portfolio **/

.title-portfolio {
	width: fit-content;
	margin: auto;
	margin-bottom: 50px;
	position: relative;
}

#portfolio h2 {
	text-align: center;
}

#modif {
	display: none;
	gap: 0.5rem;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: -100px;
}

#modif:hover {
	text-decoration: underline;
}

	/** Filtres **/

.filters {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
}

.filters button {
	padding: 0.5rem 1rem;
	background-color: #fffef8;
	border: #1D6154 1px solid;
	border-radius: 20px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
}

.filters button:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

	/** Gallery **/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

	/** Pop-Up **/

.popup-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color:  rgba(0, 0, 0, 0.2);
}

.popup-box {
	margin: auto;
	margin-top: 25px;
	padding: 2rem;
	width: 50%;
	background-color: #FFFFFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#popup-1 {
	display: none;
}

#popup-2 {
	display: none;
}

#close-mark-1, #close-mark-2 {
	font-size: 20px;
	align-self: flex-end;
	cursor: pointer;
}

h3 {
	font-size: 26px;
	text-align: center;
	margin: 0 0 50px 0;
}

.main-popup-content {
	width: 75%;
	margin: auto;
}

hr {
	margin: 0;
}

.popup-box button {
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
	padding: 0.75rem 2rem;
	border: none;
	border-radius: 60px;
	color: white;
	background-color: #1D6154;
	margin : 2rem auto 0 auto;
	width: fit-content;
	text-align: center;
}

	/** Pop-up de supression **/

.work-delete-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	margin-bottom: 50px;
}

.work-delete-gallery img {
	width: 100%;
}

.work-delete-gallery figure {
	position: relative;
}

.work-delete-gallery i {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #000000;
	padding: 4px;
	border-radius: 2px;
	color: #FFFFFF;
	cursor: pointer;
}

#open-button {
	cursor: pointer;
}

	/** Pop-Up d'ajout de projets **/

	#add-form form {
		text-align: left;
		display: flex;
		flex-direction: column;
	}
	
	#add-form input[type="text"], #add-form input[type="submit"], #work-categorie {
		height: 50px;
		font-size: 1.2em;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}

	#add-form label {
		margin: 2em 0 1em 0;
	}
	
	#add-form input[type="submit"]{
		width: 300px;
		cursor: pointer;
	}

	.work-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		width: 100%;
		margin: 0;
		background-color: #e8f1f6;
		border-radius: 4px;
	}

	#icon-image {
		color: #b9c5cc;
		font-size: 72px;
	}
	
	#add-image {
		background-color: #cbd6dc;
		color: #306685;
		margin: 0;
		margin-top: 0.5rem;
		font-weight: 200;
		cursor: pointer;
	}

	#text-image {
		margin-top: 0.5rem;
	}

	#work-image-input {
		display: none;
	}
	
	#separation-line {
		margin-top: 50px;
	}





/** Contact **/

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/** Footer **/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** Login **/
#login {
	width: 50%;
margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-top: 8rem;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#oubli {
	text-decoration: underline 1px #000000;
	text-underline-offset: 2px;
}

#error-message {
	margin: 0;
}

#error-text {
	color: #6e3630;
	margin-top: 2rem;
}